#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  text-align: right;
  background: linear-gradient(90deg, rgba(232,237,244,1) 0%, rgba(227,232,239,1) 100%);
  border: none;
  color: #2d3142;
  font-size: 3em;
  font-weight: bold;
  font-family: monospace;
}

input[type="text"]:focus {
  outline:0;
}

.amounts {
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: monospace;
}

.total {
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
  color: #ffffff;
  font-family: monospace;
}

.removeItem {
  cursor: pointer;
  float: right;
}
